/* FORMS START */

#form-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #dfe4ea;
    justify-content: space-around;
    align-content: center;
    padding: 2rem;
}

#div-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#form-wrapper label{
    font-weight: bold;
    margin-top: .5rem;
}

#form-wrapper input{
    max-width: 220px;
    margin-top: .5rem;
}

#form-wrapper select{
    max-width: 230px;
    margin-top: .5rem;
}

#form-wrapper button{
    margin-top: .5rem;
    max-width: 230px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #a4b0be;
}

#btn-saveClient{
    background-color: #eccc68;
    font-weight: bold;
    margin-top: 3rem;
    width: 230px;
}

#div-showClient{
    background-color: #55efc4;
    max-width: 400px;
    margin-top: 2rem;
}

/* FORMS END */

/* SLIDES START */

.slideshow{
    max-height: 60%;
    max-width: 80%;
}

.slides img{
    filter: contrast(50%);
}

#slideOne{

}

#slideTwo{

}

#slideThree{

}

#slideFour{

}

/* SLIDES END */